* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --main-color: #C96868;
    --text-color: #000000;
    --other-color: #83868c;
    --second-color: #d9d9d9;

    --h1-font: 5.5rem;
    --h2-font: 2.8rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* start from this code for navbar */
header {
    position: relative;
    padding: 20px;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    background: var(--bg-color);
    box-shadow: 0 2px 5px -2px #0000001a;
    transition: all .6s ease;
}

header:hover {
    background: var(--main-color);
    /* color: var(--bg-color); */
}

/* untuk logo */

.logo img {
    max-width: 150px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .6s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

/* untuk posisi navbar agar sejajar satu garis */

.navlist {
    display: flex;
}

/* untuk item pada navbar */

.navlist a {
    display: inline-block;
    font-size: var(--p-font);
    color: var(--text-color);
    margin: 0 30px;
    padding: 2px 0;
    border-bottom: 2px solid transparent;
    transition: all .6s ease;
}

.navlist a:hover {
    transform: scale(1.2);
    color: var(--bg-color);
    border-bottom: 2px solid var(--main-color);
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-content a {
    display: inline-block;
    font-size: 23px;
    color: var(--text-color);
    margin: 0 10px;
    transition: all .6s ease;
}

.nav-content a:hover {
    transform: scale(1.5);
    color: var(--bg-color);
}

#menu-icon {
    font-size: 32px;
    z-index: 1001;
    cursor: pointer;
    margin-left: 10px;
    display: none;
}

/* end of navbar */

/* start section */
section {
    /* margin-top: 5%; */
    padding: 80px 10% 80px;
}

/* start hero section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../img/hero_hotdog.jpg);
    /* background: url(../img/hero_hotdog_2.jpg); */
    background-size: cover;
    background-position: center;
}

.hero-text h1 {
    font-size: var(--h1-font);
    font-weight: 700;
    color: var(--bg-color);
    margin: 10px 0 20px;
    line-height: 1;
    /* Tambahan untuk background color */
    /* background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px; */
}

.hero-text h4 {
    font-size: 22px;
    font-weight: 600;
    color: var(--bg-color);
    letter-spacing: 4px;
}

.hero-text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bg-color);
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 11px 40px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    letter-spacing: 2px;
    border-radius: 25px;
    transition: all .6s ease;
}

.btn:hover {
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
    color: var(--text-color);
    border-radius: 10px;
}

/* end hero section */

/* store section */
.center-text {
    text-align: center;
}

.center-text h6 {
    font-size: 15px;
    font-weight: 600;
    color: var(--main-color);
}

.center-text h2 {
    font-size: var(--h2-font);
    font-weight: 600;
}

.store-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    cursor: pointer;
}

.col {
    padding: 10px;
    border: 1px solid var(--second-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    transition: all .6s ease;
}

.col-img img {
    max-width: 200px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.col-text h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.col-text p {
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
}

.col:hover {
    transform: scale(1.04) translateY(-4px);
    border: 1px solid var(--main-color);
}

/* end store section */

/* start banner section */
.banner {
    padding: 10px 10% 10px;
}

.banner-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
}

.banner-img {
    position: relative;
}

.banner-img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.banner-in {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}

.banner-in h3 {
    font-size: 40px;
    font-weight: 500;
    margin: 10px 0;
    color: var(--bg-color);
    /* background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding: 10px; */
    /* border: 1px solid var(--bg-color); */
}

.banner-in h3 span {
    color: var(--main-color);
}

.banner-in h5 {
    font-size: 25px;
    font-weight: 700;
    color: var(--bg-color);

}

.banner-in h5 span {
    color: var(--main-color);
    text-transform: uppercase;
    transition: all .6s ease;
}

.banner-in h5 span:hover {
    letter-spacing: 10px;
    padding: 1px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
}

.b-btnn {
    padding: 10px 27px;
    display: inline-block;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 10px;
    transition: all .6s ease;
    border-radius: 5px;
}

.b-btnn:hover {
    background: var(--main-color);
}

/* end banner section */


/* start seller section */
.seller-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 1.7rem;
    margin-top: 4rem;
}

.row-img {
    overflow: hidden;
}

.row-img img {
    display: block;
    width: 250px;
    height: 250px;
    transition: transform 0.6s;
    cursor: pointer;
    margin-left: 50px;
    border: 1px solid black;
}

.row-img img:hover {
    transform: scale(1.2);
}

.row {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.row h5 {
    margin-top: 10px;
    font-size: var(--p-font);
    font-weight: 500;
    margin-bottom: 7px;
    border: 1px solid black;
}

/* end seller section */
/* end section */